.footer {
    border-top: $double-underline;
}

.copyright {
    margin-top: 10px;;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: $gray-theme4;
}

.social {
    font-size: 2em;
    text-align: center;
}

.social a {
    color: $gray-theme4;
    text-decoration: none;
}



// .footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding: 2rem;
//     background-color: #333;
// }
