.footer {
    border-top: $double-underline;
}

.copyright {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: $gray-theme4;
}

.social {
    font-size: 2em;
    text-align: center;
}

.social a {
    color: $gray-theme4;
    text-decoration: none;
}

