.header {
    font-family: $header-font;
}

.header h1 {
    font-size: 1.6rem;
    color: $gray-theme1;
    text-shadow: 2px 2px $gray-theme4;
}

.header  p {
    font-size: 1.1rem;
    color: $gray-theme1;
    text-shadow: 2px 2px $gray-theme4;
}

.header a {
    text-decoration: none;
}

.site-header {
    display: flex;
    align-items: center;
}

.logo, .title {
    margin-right: 20px;
}


.nav a {
    font-size: 1.2em;
    text-decoration: none;
    font-family: $menu-font;
    font-weight: 700;
    color: $gray-theme1;
    text-shadow: 2px 2px $gray-theme4;
}

.active {
    background-color: $color-theme4;
}

.active a {
    color: $color-theme3;
    text-shadow: 1px 1.5px $gray-theme5;
}

.nav a:hover {
    color: $menu-highlight-color;
}

// li.active {
//     color: $color-theme3;
// }

.nav ul li {
    padding: 2em 1em;
}