.header {
    font-family: $header-font;
}

.header h1 {
    font-size: 1.6rem;
    color: $header-h1-color;
    text-shadow: $text-shadow;
}

.header  p {
    font-size: 1.1rem;
    color: $header-p-color;
    text-shadow: $text-shadow;
}

.header a {
    text-decoration: none;
}

.site-header {
    display: flex;
    align-items: center;
}

.title {
    margin:0;
}

.tagline p {
    font-family: $header-font;
}

.logo {
    margin: 0 20px 0 0;
}


.nav a {
    font-size: 1.2em;
    text-decoration: none;
    font-family: $menu-font;
    font-weight: 700;
    color: $menu-hover-color;
    text-shadow: $menu-text-shadow;
}

.nav a:hover {
    color: $menu-hover-color;
}

// .nav ul li {
//     padding: 2em 1em;
// }

.active {
    background-color: $menu-active-color;
}

.active a {
    // color: $menu-active-color;
    color: $menu-text-color;
    // text-shadow: 1px 1px 0.2px $gray-theme3;
    text-shadow: $menu-text-shadow;
}

// li.active {
//     color: $color-theme3;
// }
