html {
    font-size: 100%;
}

body {
    font-size: 1em;
}

p {
    font-family: $main-font;
    color: $font-color-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $font-color-dark;
}

h2 {
    margin-top: 1.3rem;
}

h2 {
    margin-top: 1rem;
}