@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

$header-font: 'Red Hat Display', sans-serif;
$main-font: 'Nunito', sans-serif;
$menu-font: 'Red Hat Display', sans-serif;

$color-theme1: #637E8F;
$color-theme2: #8094A6;
$color-theme3: #7C5D79;
$color-theme4: #C6B3C4;
$color-theme5: #D4D2D3;
$color-theme6: #b8a2b5;
$color-theme7: #b7c1c1;
$color-theme8: #6d526b;
$color-theme9: #3039af;
$color-theme10: #823b99;        // #f9cf80    #3c6884

$gray-theme1: #efefef;
$gray-theme2: #A0A0A0;
$gray-theme3: #646464;
$gray-theme4: #323232;
$gray-theme5: #101010;

$font-color: #333;
$bg-color-code: #fff;

$background-color: $color-theme7;
$main-background: $gray-theme1;

$double-underline: 5px double #333;

$menu-text-color: $color-theme3;            // Menu non active text color
$menu-background-color: none;               // Background whole menu
$menu-hover-color: $color-theme1;       // Menu color text hover
$menu-active-color: $color-theme3;          // Background active menu item
$menu-active-text: $gray-theme1;            // Menu active text color
$menu-text-shadow: none;
// $menu-text-shadow: 1px 1px 0.2px $gray-theme3;

$font-awesome: $font-color;
$copyright: $font-color;

$header-h1-color: $color-theme8;
$header-p-color: $color-theme8;
$text-shadow: none;
// $text-shadow: 1px 1px $gray-theme4;

$tech-menu: $color-theme3;                  // Tech menu background color
$tech-menu-links: $gray-theme1;
$box-bg-color: $color-theme4;
$box-bg-color-hover: $color-theme3;
$box-text-color: $color-theme4;
$box-shadow: 2px 2px 2px $gray-theme4;

$a-link: $color-theme9;
$a-link-hover: $color-theme10;